.sidebar {
  width: 20%;
  float: left;
  background-color: rgb(43, 226, 52);
  text-align: left;
  margin: 20px;
  /* border-width: 10px;  */
  border: 2px dashed darkblue;
  padding: 10px;
  

}

.main {
  background-color:rgb(199, 162, 248);
}

.image{
  float: left;
  border: 2px solid darkblue;
  margin: 5px;
  margin-right: 10px;
  padding: 1px

}